grant {
    permission java.io.FilePermission "./-", "read";
    permission java.io.FilePermission "./-", "write";
    permission java.io.FilePermission "/usr/lib/jvm", "read";
}