@CHARSET "UTF-8";
div.outer2{
	margin: 0 auto;
	margin-top: 10px;
	width: 500px;
	_height: 350px;
	min-height: 350px;
	padding: 15px 20px 20px 20px;
/* 	border: 1px solid; */
/* 	border-radius: 10px; */
/* 	background-color: rgba(255,255,255,0.4); */
}
div.outer3{
	margin: 0 auto;
	margin-top: 10px;
	width: 600px;
	_height: 350px;
	min-height: 350px;
	padding: 15px 20px 20px 20px;
/* 	border: 1px solid; */
/* 	border-radius: 10px; */
/* 	background-color: rgba(255,255,255,0.4); */
}
/* div.inner{ */
/* 	margin: 0 auto; */
/* 	margin-top: 5px; */
/* 	margin-bottom: 5px; */
/* 	width: 95%; */
/* 	height: 55px; */
/* 	font-size: 15px; */
/* } */
div.inner{
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 95%;
	height: 35px;
	font-size: 15px;
}

img.icon{
	float: left;
	height: 25px;
	object-fit: contain;
	margin-top: 7px;
}
label.name{
	color: blue;
	float: left;
	padding-top: 5px;
}
label.error{
	color: red;
	font-size: 15px;
}

input.text1{
	float: right;
	margin-left: 10px;
	width: 85%;
	height: 25px;
	margin-top: 7px;
	text-align: left;
}
input.text2{
	float: right;
	width: 75%;
	margin-top: 4px;
	text-align: left;
}
input.text3{
	float: right;
	margin-left: 10px;
	width: 70%;
	height: 25px;
	margin-top: 4px;
	text-align: left;
}

font.login{
	font-size: 15px;
	margin-right: 5px;
}
font.register{
	color: red;
	font-size: 10px;
	float: left;
	padding-top: 5px;
	padding-left: 5px;
}

input.button{
	width: 40%;
	background-color: #F4F4F4;
	font-size: 15px;
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 5px;
}

a.link{
	font-size: 12px;
	float: right;
	margin-right: 30px;
}