@CHARSET "UTF-8";
body{
	text-align: center;
	background: url(.././picture/background.png);
}

div.outer{
	text-align: center;
	margin: 0 auto;
	width: 100%;
	min-height: 300px;
	_height: 300px;
	margin-top: 30px;
	padding-bottom: 30px;
	border: 1px solid;
	border-color: rgb(238, 238, 238);
	border-radius: 10px;
	background: rgba(255,255,255,0.5);
}
div.content{
	text-align: left;
	margin: 0 auto;
	width: 95%;
	min-height: 50px;
	_height: 50px;
	padding: 20px;
	border: 1px solid;
	border-color: rgb(233, 233, 233);
	border-radius: 10px;
	background: rgb(251, 251, 251);
}
div.row2{
	width: 95%;
	margin: 0 auto;
	margin-top: 10px;
}
.col-md-10{float:right;width:85%}
.col-md-2{float:left;width:15%}
.col-form-label{padding-top:.5rem;padding-bottom:.5rem;margin-bottom:0;}
p.title{
	font-size: 30px;
}
p.title2{
	font-size: 20px;
	text-align: left;
	padding-left: 10px;
}
p.title3{
	font-size: 15px;
	text-align: left;
	font-weight: bold;
}
p.tip{
	font-size: 15px;
}
input.button{
	width: 30%;
	background-color: #F4F4F4;
	font-size: 15px;
	padding: 5px;
	margin-bottom: 10px;
	margin-left: 20px;
	border-radius: 5px;
}
label.row{
	float: left;
	padding-left: 10px;
}
label.active{
	background-color: rgb(212, 212, 212);
}
label.hint{
	position: relative;
	right: 30%;
	color: red;
}
label.error{
	margin-left: 20px;
	color: red;
}
font{
	color: red;
}
textarea.input{
	resize: none;
	text-align: left;
}
.full{
	width: 100%;
	height: 40px;
	font-size: 15px;
}
.size{
	width: 100%;
	height: 40px;
	font-size: 15px;
}
.custom-select{display:inline-block;max-width:100%;height:30px;padding:.375rem 1.75rem .375rem .75rem;padding-right:.75rem\9;color:#55595c;vertical-align:middle;background:#fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;background-image:none\9;background-size:8px 10px;border:1px solid rgba(0,0,0,.15);border-radius:.25rem;-moz-appearance:none;-webkit-appearance:none}.custom-select:focus{border-color:#51a7e8;outline:none}.custom-select:focus::-ms-value{color:#55595c;background-color:#fff}.custom-select:disabled{color:#818a91;cursor:not-allowed;background-color:#eceeef}.custom-select::-ms-expand{opacity:0}.custom-select-sm{padding-top:.375rem;padding-bottom:.375rem;font-size:75%}
.btn-secondary{color:#373a3c;background-color:#fff;border-color:#ccc}.btn-secondary.focus,.btn-secondary:focus,.btn-secondary:hover{color:#373a3c;background-color:#e6e6e6;border-color:#adadad}
